django==3.0.2
pymysql
pandas
pillow
tensorflow==2.4.4
mtcnn
requests
opencv-python-headless
google-api-python-client
google-auth
google-auth-oauthlib
voyager
scipy
django-cors-headers
scikit-learn
matplotlib==3.3.4